@use './mixin.module.scss';
.button {
  all: unset;
  display: inline-block; /* 버튼의 레이아웃을 위해 선택적으로 추가 */
  cursor: pointer; /* 마우스 포인터가 가리킬 때 손가락 모양으로 변경 */
}

.button {
  border-radius: mixin.$size-12;
  padding: mixin.$size-16 mixin.$size-24;
  font-size: mixin.$size-16;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Noto Sans KR';
  &__type {
    &__outlined {
      &__primary {
        border: 1px solid mixin.$primary-color;
        color: mixin.$primary-color;
      }
      &__black {
        border: 1px solid mixin.$main-text-color;
      }
    }
    &__colored {
      &__primary {
        background-color: mixin.$primary-color;
        color: #fff;
      }
      &__black {
        background-color: mixin.$main-text-color;
        color: #fff;
      }
    }
  }
  &__size {
    &__small {
      width: 10rem;
    }
    &__large {
      width: 100%;
    }
  }
}
