@import './mixin.module.scss';

.contentContainer {
  @include mobile-500 {
    width: 402px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $size-24;
  }
}
.textBox {
  @include mobile-500 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: $size-16;
    gap: $size-4;
  }
}
.buttonBox {
  display: flex;
  gap: $size-8;
}
