@use './mixin.module.scss';
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: mixin.$size-24;
  padding: mixin.$size-20;
  position: relative;
  @include mixin.mobile-500 {
    width: 402px;
  }
  @include mixin.desktop-1280 {
    width: 500px;
  }
}
.textBox {
  width: 100%;
  display: flex;
  flex-direction: column;

  font-weight: 800;
  font-size: mixin.$size-24;
  @include mixin.mobile-500 {
  }
}
.inputBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: mixin.$size-16;
}

.socialLogin {
  &__box {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: mixin.$size-16;
  }
  &__text {
    color: mixin.$sub-text-color;
    font-size: mixin.$size-12;
  }
  &__buttonBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: mixin.$size-12;
  }
  &__button {
    width: mixin.$size-40;
    height: mixin.$size-40;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mixin.$main-text-color;
    // &__kakao {
    //   background-color: #fee500;
    // }
    // &__naver {
    //   background-color: #03d765;
    // }
    // &__google {
    //   background-color: #ed3241;
    // }
  }
}

.startButtonBox {
  @include mixin.mobile-500 {
    width: 90%;
    display: flex;
    gap: mixin.$size-8;
    position: fixed;
    bottom: mixin.$size-20;
    padding: 0 mixin.$size-20;
  }
  @include mixin.desktop-1280 {
    width: 100%;
    display: flex;
    gap: mixin.$size-8;
  }
}
