@import './mixin.module.scss';

/* 진행 바 컨테이너 */
.progressBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* 진행 바 전체 너비 */
  margin: 0 auto;
  position: relative;
}

/* 각 단계의 컨테이너 */
.stepBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* 각 단계의 원(circle) 스타일 */
.label {
  width: $size-20;
  height: $size-20;
  border-radius: 50%;
  background-color: $disabled-color; /* 기본 색상 (방문하지 않은 단계) */
  position: relative;
}

/* 방문한 단계 스타일 */
.label__visited {
  background-color: $primary-color; /* 방문한 단계: 짙은 회색 */
}

/* 현재 단계 스타일 */
.label__current {
  background-color: $primary-color; /* 현재 단계: 민트 그린 */
}

/* 각 단계 이름 텍스트 스타일 */
.text {
  margin-top: $size-8;
  font-size: $size-12;
  color: #4d4d4d; /* 텍스트 색상 */
}

// /* 연결 선 스타일 */
.line {
  position: absolute;
  top: 20%;
  left: 20px;
  width: 210%;
  height: 2px;
  transform: translate(0, -50%);
  background-color: $disabled-color;
  z-index: -1;
}

/* 방문한 단계까지 연결 선 스타일 */
.line__visited {
  background-color: $primary-color; /* 방문한 단계 연결 선 색상 */
}
