@import './mixin.module.scss';

.contentContainer {
  @include mobile-500 {
    @include contentContainer-mobile500;
    padding: $size-20;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
  }
}

.contentHeader {
  @include mobile-500 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $size-20;
  }
}

.mainContainer {
  @include mobile-500 {
    width: 100%;
    margin-top: $size-32;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: $size-40;
    &__text {
      font-size: $size-18;
      font-weight: 800;
      color: $main-text-color;
    }
    &__image {
      width: 140px;
      height: 406px;
    }
    &slider {
      width: 80%;
    }
  }
}
.buttonContainer {
  @include mobile-500 {
    width: 90%;
    display: flex;
    gap: $size-8;
    position: fixed;
    bottom: $size-20;
    padding: 0 $size-20;
  }
}
