@use './mixin.module.scss';

.contentContainer {
  @include mixin.mobile-500 {
    @include mixin.contentContainer-mobile500;
    padding: mixin.$size-20;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
  }
}

.contentHeader {
  @include mixin.mobile-500 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: mixin.$size-20;
  }
}

.mainContainer {
  @include mixin.mobile-500 {
    width: 100%;
    margin-top: mixin.$size-32;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    gap: mixin.$size-20;
    &__text {
      font-size: mixin.$size-18;
      font-weight: 800;
      color: mixin.$main-text-color;
    }
    &__image {
      // width: 140px;
      height: 406px;
      // margin: 0 auto;
      &__avatarImage {
        position: relative;
        width: 140px;
        height: 100%;
        margin: 0 auto;
        object-fit: none;
        object-position: center;
      }
    }
    &slider {
      width: 80%;
    }
  }
}
.buttonContainer {
  @include mixin.mobile-500 {
    width: 90%;
    display: flex;
    gap: mixin.$size-8;
    position: fixed;
    bottom: mixin.$size-20;
    padding: 0 mixin.$size-20;
  }
}
