@import './mixin.module.scss';
/* 전체 슬라이더 컨테이너 */
.slider {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  height: 40px;
  display: flex;
  align-items: center;
}

/* 슬라이더 인풋 */
.sliderInput {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
/* 슬라이더 핸들 스타일 (input[type="range"] 커스터마이징) */
.sliderInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 2px solid $primary-color;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  pointer-events: auto;
  top: -12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sliderInput::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid $primary-color;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* 트랙 스타일 */
.sliderTrack {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: $disabled-color;
  border-radius: 2px;
  overflow: hidden;
}

/* 진행된 트랙 스타일 */
.sliderProgress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $primary-color; /* 진행된 트랙 색상 */
  transition: width 0.1s ease-in-out;
}

/* 웹킷 브라우저용 트랙 */
.sliderInput::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, $primary-color var(--progress), $disabled-color var(--progress));
  border-radius: 2px;
}

/* 파이어폭스 브라우저용 트랙 */
.sliderInput::-moz-range-track {
  width: 100%;
  height: 4px;
  background-color: $disabled-color;
  border-radius: 2px;
}
